/* General */

.logo {
    width: 8%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    /* Navbar */

#navbar{
    background-color: #283F25;
    padding: 0.5%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0.1.;
    }

body {
    background-color:#3f593c;
    margin: 0%;
    }

.link {
    text-decoration: none;
    margin : 1.3%;
    color: white;
    }


    /* Footer not done */
.site-footer {
    color: #ffffff;
    padding: 40px 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 0.1.;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.footer-left p,
.footer-right p {
  margin: 8px 0;
}

.footer-right h3 {
  margin-bottom: 12px;
  align-self: flex-start;
  font-size: 25px;
}


/* homepage */
#hero {
    background-image: url(https://github.com/Idk4041/teamproject-nora-s-flora/blob/main/norasFlora/norasFlora/pexels-jmark-250716.jpg?raw=true);
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    height: 700px;               
    display: flex;
    justify-content: center;
    align-items: center;         
    color: white;
    text-align: center;
    position: relative;
    }

.hero-title {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50px; 
    }

.hero-content {        
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 20px; 
    }
#block {
    background-color: white;
    padding: 18%;
    }

#block2 {
    background-color: #3F593C;
    padding: 100px;
    }

#block3 {
    background-color: #283F25;
    padding: 1%;
    }
#line {
    background-color: #3F593C;
    text-align: center;
    color : white;
    font-size: 35px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    }

.container {
    width: 60%;
display: flex;
justify-content: space-between;
padding: 40px;


}
.container img {
    width: 300px;
    border-radius: 15px;
    
    ;
}
.container h1 {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    
}
.container p {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-right: 15px;
    font-size: 16px;
}

/* assortiment */
.container {
    display: flex;
    
}
/* contact page */
.contact-h1 {
  color: white;
  text-align: center;
  font-size: xx-large;
  
}
.contact-p {
    color: white;
} 