/* General */

.logo {
    width: 8%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    /* Navbar */

#navbar{
    background-color: #283F25;
    padding: 0.5%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0.1.;
    }

body {
    background-color:#3f593c;
    margin: 0%;
    }

.link {
    text-decoration: none;
    margin : 1.3%;
    color: white;
    }


    /* Footer not done */
.site-footer {
    color: #ffffff;
    padding: 40px 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 0.1.;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.footer-left p,
.footer-right p {
  margin: 8px 0;
}

.footer-right h3 {
  margin-bottom: 12px;
  align-self: flex-start;
  font-size: 25px;
}


/* homepage */
#hero {
    background-image: url(https://github.com/Idk4041/teamproject-nora-s-flora/blob/main/norasFlora/norasFlora/pexels-jmark-250716.jpg?raw=true);
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    height: 700px;               
    display: flex;
    justify-content: center;
    align-items: center;         
    color: white;
    text-align: center;
    position: relative;
    }

.hero-title {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50px; 
    }

.hero-content {        
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 20px; 
    }
#block {
    background-color: white;
    padding: 18%;
    }

#block2 {
    background-color: #3F593C;
    padding: 100px;
    }

#block3 {
    background-color: #283F25;
    padding: 1%;
    }
#line {
    background-color: #3F593C;
    text-align: center;
    color : white;
    font-size: 35px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    }

.container {
    width: 60%;
display: flex;
padding: 40px;


}
.container img {
    width: 320px;
    height: 400px;
    border-radius: 15px;
   margin-left: 300px;
}
.container h1 {

    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-left: 200px;
}
.container p {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-left: 150px;
    width: 600px;
    font-size: 18px;
}

.assortiment-sample {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 30px;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
}
.assortiment-sample img {
    width: 500px;
    height: 310px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.assortiment-sample-item {
        background-color: #d9edb5;
    border-radius: 10px;
    text-align: center;
}
.assortiment-sample-item p {
    font-size: 16px;
}
.assortiment-sample-item .price-sample {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.assortiment-sample-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}
/* assortiment */
.container_asortiment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 30px;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
}

.item {
    background-color: #d9edb5;
    border-radius: 10px;
    text-align: center;
}

.item img {
    width: 400px;
    height: 300px;

    border-radius: 8px;
    margin-bottom: 15px;
}

.item h3 {
    
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.item p {

    font-size: 16px;
}

.item .price {

    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* contact page */
#contact {
  background-color: #d9edb5;
  padding: 30px 0px;
    font-family: "Inter", sans-serif;
    color: white;
}


.contactBox {
  background-color: #3f593c;
  margin: 0px;
  padding: 5px;
}

#contactFormulier {
  display: flex;
  background-color: #3f593c;
  margin-left: 10px;
  padding: 0 100px;
  gap: 100px;
  font-size: 14px;
}
#contact  p {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: left;
    max-width: 400px;
    font-size: 16px;
}
#contactOpnemen {
  text-align: center;
  font-size: 28px;
}

#vragenEnOpmerkingen {
  resize: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #f7feea; 
  margin-left: 440px;
  width: 315px;
}

#contactInformatie {
  display: flex;
  gap: 280px;
  margin-top: 10px;
}

#contactGegevens {
  display: flex;
  gap: 10px;
  margin-left: 120px;
}

#email {
    background-color: #f7feea;
    border-radius: 8px;
    display: flex;
    padding: 7px;
    width: 322px;
    margin-left: 340px;

}

#contactButton {
    background-color: #d9edb5;
    border-radius: 15px;
    justify-self: center;
    margin: 10px 0 0 375px;
    padding: 7px;
    width: 280px;
}
