.logo {
    width: 8%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#navbar{
            background-color: #283F25;
            padding: 0.5%;

            text-align: center;
            font-family:Arial, Helvetica, sans-serif ;
            
        }
        body {
            background-color:#3f593c;
            margin: 0%;
        }
        .link {
            text-decoration: none;
            margin : 1.3%;
            color: white;
            
        }
        #line {
            background-color: #3F593C;
            padding: 3%;
           
        }