#middle-content{
            background-color: #283F25;
            padding: 1%;
            min-width: 100%;
            text-align: center;
            
        }
        body {
            background-color:#3f593c;
            margin: 0%;
        }
            h1 {
  color: white;
            }
  p {
    color: white;
  } 
  .logo {
    width: 8%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
  #navbar{
            background-color: #283F25;
            padding: 0.5%;
            min-width: 100%;
            text-align: center;
            font-family:Arial, Helvetica, sans-serif ;
            
        }
        body {
            background-color:#3f593c;
            margin: 0%;
        }
        .link {
            text-decoration: none;
            margin : 1.3%;
            color: white;
            
        }      
        
        #link {
            text-decoration: none;
            margin : 1%;
            color: white;
            
            
        }
        #line {
            background-color: }
        #line {
            background-color: #D9EDB5;
            padding: 1%;
            min-width: 100%;
        };

