.logo {
    width: 8%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.hero {
  background-image: url(https://github.com/Idk4041/teamproject-nora-s-flora/blob/main/norasFlora/pexels-jmark-2507161.jpg?raw=true);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 400px;               
  display: flex;
  justify-content: center;     
  align-items: center;         
  color: white;               
  text-align: center;
  position: relative;
}


#navbar{
            background-color: #283F25;
            padding: 0.5%;
            min-width: 100%;
            text-align: center;
            font-family:Arial, Helvetica, sans-serif ;
            
        }
        body {
            background-color:#3f593c;
            margin: 0%;
        }
        .link {
            text-decoration: none;
            margin : 1.3%;
            color: white;
            
        }
        #line {
            background-color: #3F593C;
            padding: 3%;
            min-width: 100%;
        }