/* General */

.logo {
    width: 8%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.hero {
  background-image: url(https://github.com/Idk4041/teamproject-nora-s-flora/blob/main/norasFlora/norasFlora/pexels-jmark-250716.jpg?raw=true);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 700px;               
  display: flex;
  justify-content: center;     
  align-items: center;         
  color: white;               
  text-align: center;
  position: relative;
}

.hero-content {        
  font-family: Arial;
  font-size: 20px; 
}

        #navbar{
            background-color: #283F25;
            padding: 0.5%;
            text-align: center;
            font-family:Arial, Helvetica, sans-serif;
        }

        body {
            background-color:#3f593c;
            margin: 0%;
        }

        .link {
            text-decoration: none;
            margin : 1.3%;
            color: white;
        }

        #line {
            background-color: #3F593C;
            text-align: center;
            color : white;
           font-size: 20px;
            font-family: Arial;
        }

        #block {
            background-color: white;
            padding: 18%;
        }

        #block2 {
        background-color: #3F593C;
        padding: 14%;
        }

        #block3 {
        background-color: #283F25;
        padding: 1%;
        }
        .contact-left {

            text-align:left;
            color: white;
            font-family: Arial;
            font-size: 20px;
            padding-right: 1%;
        }
        .contact-right {
            text-align:right;
            align-items: center;
            color: white;
            font-family: Arial;
            font-size: 20px;
            padding-left: 1%;
        }
        .contact-head {
            text-align:right;
            color: white;
            font-family: Arial;
            font-size: 25px;
            padding-left: 5%;
        }